.text-work{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top:  160px;
}

h1.work-title{
    font-size: 48px;
    font-family: Abril Fatface;
    color: var(--black);
}

p.desc{
    font-family: Nova Slim;
    font-size: 18px;
    color: var(--black);
    align-items: center;
    text-align: center;
}